In [1]:
# 0. BASE SET UP ---------------------------------------------------------------------------------------------------------
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

# Set max columns and rows
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

# Import data and split intro training and test sets
cust_churn_df = pd.read_csv('data/cust-churn-data-full.csv', low_memory=False)

# Remove duplicated columns (indicated by suffix) from joining SQL tables 
# dup_cols = [col for col in cust_churn_df.columns if '.' in col]
# print(f"Duplicated columns: {dup_cols}")
eda_cust_churn_df = cust_churn_df.drop(['account_id.1', 'customer_id.1', 'customer_id.2', 'zip_code.1'], axis=1)

# Remove columns that hold information only received in future or gives away the churn_label
eda_cust_churn_df = eda_cust_churn_df.drop(['status', 'churn_category', 'churn_reason'], axis=1)

print("\nColumn names:", eda_cust_churn_df.columns)
print("\nShape of dataset:", eda_cust_churn_df.shape)
print("\nMissing values:", eda_cust_churn_df.isnull().sum())

Column names: Index(['account_id', 'customer_id', 'tenure_months', 'num_referrals',
       'has_internet_service', 'internet_type', 'has_unlimited_data',
       'has_phone_service', 'has_multiple_lines', 'has_premium_tech_support',
       'has_online_security', 'has_online_backup', 'has_device_protection',
       'contract_type', 'paperless_billing', 'payment_method',
       'avg_long_distance_fee_monthly', 'total_long_distance_fee',
       'avg_gb_download_monthly', 'stream_tv', 'stream_movie', 'stream_music',
       'total_monthly_fee', 'total_charges_quarter', 'total_refunds',
       'churn_label', 'area_id', 'zip_code', 'city', 'latitude', 'longitude',
       'population', 'gender', 'age', 'senior_citizen', 'married',
       'num_dependents'],
      dtype='object')

Shape of dataset: (7043, 37)

Missing values: account_id                          0
customer_id                         0
tenure_months                       0
num_referrals                       0
has_internet_service                0
internet_type                    1526
has_unlimited_data                  0
has_phone_service                   0
has_multiple_lines                  0
has_premium_tech_support            0
has_online_security                 0
has_online_backup                   0
has_device_protection               0
contract_type                       0
paperless_billing                   0
payment_method                      0
avg_long_distance_fee_monthly       0
total_long_distance_fee             0
avg_gb_download_monthly             0
stream_tv                           0
stream_movie                        0
stream_music                        0
total_monthly_fee                   0
total_charges_quarter               0
total_refunds                       0
churn_label                        52
area_id                             0
zip_code                            0
city                                0
latitude                            0
longitude                           0
population                          0
gender                              0
age                                 0
senior_citizen                      0
married                             0
num_dependents                      0
dtype: int64

In [2]:
print("\nColumn names:", eda_cust_churn_df.columns)
print("\nShape of dataset:", eda_cust_churn_df.shape) #Shape of dataset: (7043, 40)
print("\nMissing values:", eda_cust_churn_df.isnull().sum())

Column names: Index(['account_id', 'customer_id', 'tenure_months', 'num_referrals',
       'has_internet_service', 'internet_type', 'has_unlimited_data',
       'has_phone_service', 'has_multiple_lines', 'has_premium_tech_support',
       'has_online_security', 'has_online_backup', 'has_device_protection',
       'contract_type', 'paperless_billing', 'payment_method',
       'avg_long_distance_fee_monthly', 'total_long_distance_fee',
       'avg_gb_download_monthly', 'stream_tv', 'stream_movie', 'stream_music',
       'total_monthly_fee', 'total_charges_quarter', 'total_refunds',
       'churn_label', 'area_id', 'zip_code', 'city', 'latitude', 'longitude',
       'population', 'gender', 'age', 'senior_citizen', 'married',
       'num_dependents'],
      dtype='object')

Shape of dataset: (7043, 37)

Missing values: account_id                          0
customer_id                         0
tenure_months                       0
num_referrals                       0
has_internet_service                0
internet_type                    1526
has_unlimited_data                  0
has_phone_service                   0
has_multiple_lines                  0
has_premium_tech_support            0
has_online_security                 0
has_online_backup                   0
has_device_protection               0
contract_type                       0
paperless_billing                   0
payment_method                      0
avg_long_distance_fee_monthly       0
total_long_distance_fee             0
avg_gb_download_monthly             0
stream_tv                           0
stream_movie                        0
stream_music                        0
total_monthly_fee                   0
total_charges_quarter               0
total_refunds                       0
churn_label                        52
area_id                             0
zip_code                            0
city                                0
latitude                            0
longitude                           0
population                          0
gender                              0
age                                 0
senior_citizen                      0
married                             0
num_dependents                      0
dtype: int64

In [3]:
eda_cust_churn_df.head()
# eda_cust_churn_df.describe()

,account_id,customer_id,tenure_months,num_referrals,has_internet_service,internet_type,has_unlimited_data,has_phone_service,has_multiple_lines,has_premium_tech_support,has_online_security,has_online_backup,has_device_protection,contract_type,paperless_billing,payment_method,avg_long_distance_fee_monthly,total_long_distance_fee,avg_gb_download_monthly,stream_tv,stream_movie,stream_music,total_monthly_fee,total_charges_quarter,total_refunds,churn_label,area_id,zip_code,city,latitude,longitude,population,gender,age,senior_citizen,married,num_dependents
0,BFIN-DLMOA,0013-EXCHZ,3,3,Yes,Fiber Optic,Yes,Yes,No,Yes,No,No,No,Month-to-Month,Yes,Credit Card,7.38,22.14,11,Yes,No,No,83.90,267.40,0.0,Yes,607,93010,Camarillo,34.227846,-119.079903,42853,Female,75,Yes,Yes,0
1,AFEO-XOOCP,0014-BMAQU,63,8,Yes,Fiber Optic,No,Yes,Yes,Yes,Yes,No,No,Two Year,Yes,Credit Card,12.96,816.48,7,No,No,No,84.65,5377.80,0.0,No,963,94558,Napa,38.489789,-122.270110,63947,Male,52,No,Yes,0
2,DEMQ-MFXWC,0016-QLJIS,65,3,Yes,Cable,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Two Year,Yes,Credit Card,28.46,1849.90,14,Yes,Yes,Yes,90.45,5957.90,0.0,No,1390,95681,Sheridan,38.984756,-121.345074,1219,Female,43,No,Yes,1
3,AIPP-VTDXJ,0019-EFAEP,72,0,Yes,Fiber Optic,Yes,Yes,Yes,No,Yes,Yes,Yes,Two Year,Yes,Bank Withdrawal,2.25,162.00,16,Yes,No,No,101.30,7261.25,0.0,No,303,91942,La Mesa,32.782501,-117.016110,24005,Female,32,No,No,0
4,CJHA-SRKIB,0019-GFNTW,56,0,Yes,DSL,Yes,No,No,Yes,Yes,Yes,Yes,Two Year,No,Bank Withdrawal,0.00,0.00,19,No,No,No,45.05,2560.10,0.0,No,716,93441,Los Olivos,34.704340,-120.026090,1317,Female,39,No,No,0

In [4]:
# Loop through all columns and print value counts for each
for column in eda_cust_churn_df.columns:
    print(f"Value counts for column '{column}':")
    print(cust_churn_df[column].value_counts())
    print("\n" + "-"*40 + "\n")

Value counts for column 'account_id':
account_id
BFIN-DLMOA    1
NEWT-UTTDQ    1
GVEE-PDLRR    1
ZFLT-FYMEG    1
CSIJ-CHRDZ    1
             ..
DHEB-RFPIB    1
QHMM-FEKOR    1
UYYN-GDJUL    1
LGZP-LIBGE    1
PCTD-RXANG    1
Name: count, Length: 7043, dtype: int64

----------------------------------------

Value counts for column 'customer_id':
customer_id
0013-EXCHZ    1
3587-PMCOY    1
5780-INQIK    1
5707-ORNDZ    1
5288-AHOUP    1
             ..
8198-RKSZG    1
8050-WYBND    1
8033-ATFAS    1
7996-BPXHY    1
9992-UJOEL    1
Name: count, Length: 7043, dtype: int64

----------------------------------------

Value counts for column 'tenure_months':
tenure_months
1     613
72    362
2     238
3     200
4     176
71    170
5     133
7     131
10    127
8     123
9     119
70    119
12    117
6     110
13    109
68    100
15     99
11     99
67     98
18     97
69     95
24     94
22     90
66     89
35     88
17     87
23     85
16     80
52     80
56     80
64     80
25     79
26     79
60     76
14     76
65     76
61     76
46     74
19     73
27     72
63     72
30     72
29     72
20     71
62     70
53     70
41     70
32     69
47     68
51     68
50     68
54     68
58     67
49     66
31     65
42     65
43     65
34     65
57     65
37     65
33     64
40     64
48     64
55     64
21     63
45     61
59     60
38     59
28     57
39     56
44     51
36     50
Name: count, dtype: int64

----------------------------------------

Value counts for column 'num_referrals':
num_referrals
0     3821
1     1086
5      264
3      255
7      248
9      238
4      236
2      236
10     223
6      221
8      213
11       2
Name: count, dtype: int64

----------------------------------------

Value counts for column 'has_internet_service':
has_internet_service
Yes    5517
No     1526
Name: count, dtype: int64

----------------------------------------

Value counts for column 'internet_type':
internet_type
Fiber Optic    3035
DSL            1652
Cable           830
Name: count, dtype: int64

----------------------------------------

Value counts for column 'has_unlimited_data':
has_unlimited_data
Yes    4745
No     2298
Name: count, dtype: int64

----------------------------------------

Value counts for column 'has_phone_service':
has_phone_service
Yes    6361
No      682
Name: count, dtype: int64

----------------------------------------

Value counts for column 'has_multiple_lines':
has_multiple_lines
No     4072
Yes    2971
Name: count, dtype: int64

----------------------------------------

Value counts for column 'has_premium_tech_support':
has_premium_tech_support
No     4999
Yes    2044
Name: count, dtype: int64

----------------------------------------

Value counts for column 'has_online_security':
has_online_security
No     5024
Yes    2019
Name: count, dtype: int64

----------------------------------------

Value counts for column 'has_online_backup':
has_online_backup
No     4614
Yes    2429
Name: count, dtype: int64

----------------------------------------

Value counts for column 'has_device_protection':
has_device_protection
No     4621
Yes    2422
Name: count, dtype: int64

----------------------------------------

Value counts for column 'contract_type':
contract_type
Month-to-Month    3610
Two Year          1883
One Year          1550
Name: count, dtype: int64

----------------------------------------

Value counts for column 'paperless_billing':
paperless_billing
Yes    4171
No     2872
Name: count, dtype: int64

----------------------------------------

Value counts for column 'payment_method':
payment_method
Bank Withdrawal    3909
Credit Card        2749
Mailed Check        385
Name: count, dtype: int64

----------------------------------------

Value counts for column 'avg_long_distance_fee_monthly':
avg_long_distance_fee_monthly
0.00     682
18.26      7
22.83      6
30.07      6
45.92      6
        ...
1.50       1
17.82      1
39.31      1
8.81       1
34.21      1
Name: count, Length: 3584, dtype: int64

----------------------------------------

Value counts for column 'total_long_distance_fee':
total_long_distance_fee
0.00       682
22.86        4
48.96        4
15.60        4
41.10        3
          ...
2041.50      1
34.47        1
19.98        1
1306.90      1
37.24        1
Name: count, Length: 6068, dtype: int64

----------------------------------------

Value counts for column 'avg_gb_download_monthly':
avg_gb_download_monthly
0     1526
19     220
27     199
30     193
59     192
26     191
23     179
22     172
21     171
13     164
18     164
16     155
17     155
20     151
24     148
28     147
11     145
12     143
29     138
15     132
10     132
14     131
3      130
25     130
4      129
52     121
8      120
9      116
7      116
2      116
6      114
5      114
51      90
53      88
48      86
73      81
69      75
41      67
76      58
85      48
58      45
42      45
82      43
71      42
47      36
57      34
46      19
56      16
75      15
39       1
Name: count, dtype: int64

----------------------------------------

Value counts for column 'stream_tv':
stream_tv
No     4336
Yes    2707
Name: count, dtype: int64

----------------------------------------

Value counts for column 'stream_movie':
stream_movie
No     4311
Yes    2732
Name: count, dtype: int64

----------------------------------------

Value counts for column 'stream_music':
stream_music
No     4555
Yes    2488
Name: count, dtype: int64

----------------------------------------

Value counts for column 'total_monthly_fee':
total_monthly_fee
20.05     61
19.85     45
19.90     44
19.95     44
19.70     43
          ..
46.40      1
35.30      1
67.75      1
43.35      1
110.70     1
Name: count, Length: 1585, dtype: int64

----------------------------------------

Value counts for column 'total_charges_quarter':
total_charges_quarter
20.20      11
19.75       9
20.05       8
19.65       8
19.90       8
           ..
3139.80     1
536.40      1
668.85      1
5601.40     1
18.90       1
Name: count, Length: 6540, dtype: int64

----------------------------------------

Value counts for column 'total_refunds':
total_refunds
0.00     6518
20.45       2
29.76       2
14.23       2
32.55       2
46.06       2
12.48       2
9.73        2
18.55       2
23.72       2
25.67       2
45.61       2
46.07       2
44.90       2
47.73       2
47.04       2
15.41       2
5.73        2
29.88       2
27.60       2
28.42       2
41.74       2
18.39       2
49.57       2
16.56       2
8.74        2
1.31        2
23.89       1
19.63       1
4.68        1
47.59       1
29.93       1
47.20       1
5.47        1
19.25       1
7.43        1
47.19       1
43.68       1
37.01       1
33.10       1
19.89       1
36.61       1
11.48       1
21.32       1
34.29       1
15.24       1
33.21       1
32.59       1
23.28       1
26.32       1
12.19       1
28.93       1
25.42       1
17.30       1
18.85       1
40.62       1
22.96       1
10.70       1
37.64       1
27.09       1
24.36       1
5.90        1
12.59       1
45.54       1
35.82       1
13.07       1
49.76       1
2.21        1
20.23       1
43.31       1
27.79       1
43.96       1
35.61       1
49.53       1
17.76       1
1.66        1
9.49        1
16.91       1
24.98       1
1.65        1
21.25       1
13.37       1
48.95       1
25.84       1
43.25       1
49.37       1
1.48        1
20.87       1
27.30       1
27.89       1
3.20        1
21.08       1
10.57       1
22.53       1
28.09       1
27.38       1
29.00       1
23.61       1
28.49       1
18.21       1
44.58       1
4.08        1
44.81       1
40.41       1
19.31       1
18.88       1
28.83       1
48.61       1
23.01       1
47.45       1
22.72       1
23.92       1
17.01       1
21.81       1
25.98       1
38.33       1
40.46       1
38.57       1
40.54       1
47.36       1
24.08       1
36.44       1
14.93       1
49.22       1
19.32       1
9.79        1
34.45       1
9.68        1
48.59       1
37.06       1
12.07       1
44.17       1
6.41        1
40.15       1
29.59       1
21.72       1
22.97       1
16.36       1
47.55       1
26.98       1
26.37       1
16.86       1
6.49        1
12.16       1
42.89       1
45.69       1
2.24        1
48.79       1
9.35        1
24.90       1
26.87       1
33.07       1
47.91       1
1.83        1
4.93        1
23.67       1
30.26       1
35.01       1
2.29        1
39.93       1
39.99       1
3.55        1
16.58       1
20.28       1
34.47       1
34.16       1
3.59        1
34.59       1
42.34       1
48.09       1
19.12       1
40.79       1
5.44        1
6.79        1
38.98       1
15.31       1
25.57       1
42.64       1
9.22        1
33.25       1
21.53       1
3.26        1
36.22       1
39.15       1
45.07       1
38.46       1
43.95       1
10.47       1
6.72        1
6.65        1
41.23       1
38.15       1
44.51       1
11.72       1
15.38       1
45.47       1
21.52       1
18.64       1
8.30        1
38.34       1
4.60        1
17.60       1
26.02       1
26.55       1
45.60       1
31.39       1
44.86       1
35.44       1
42.43       1
1.27        1
37.49       1
32.09       1
22.55       1
26.99       1
21.17       1
37.55       1
36.78       1
15.73       1
2.62        1
44.13       1
43.66       1
12.26       1
29.84       1
41.20       1
30.46       1
14.22       1
40.64       1
30.14       1
48.66       1
17.96       1
14.24       1
2.76        1
19.50       1
37.68       1
36.66       1
48.25       1
48.54       1
28.98       1
34.83       1
25.55       1
5.01        1
5.15        1
17.19       1
29.11       1
12.66       1
34.44       1
12.55       1
18.84       1
21.69       1
32.71       1
29.50       1
5.83        1
4.70        1
14.30       1
37.03       1
36.07       1
19.16       1
32.46       1
15.76       1
15.57       1
33.67       1
19.13       1
41.18       1
22.34       1
4.96        1
17.16       1
46.26       1
25.07       1
36.52       1
38.09       1
42.18       1
9.36        1
45.46       1
39.29       1
11.00       1
41.21       1
18.89       1
11.80       1
18.62       1
7.39        1
3.51        1
49.38       1
46.81       1
16.12       1
8.35        1
23.13       1
23.16       1
8.96        1
1.69        1
5.49        1
9.34        1
16.26       1
46.39       1
17.33       1
15.02       1
22.40       1
38.61       1
28.08       1
26.70       1
33.29       1
14.78       1
40.95       1
47.79       1
4.76        1
34.09       1
10.65       1
38.42       1
14.67       1
16.85       1
38.37       1
11.85       1
46.56       1
42.29       1
49.23       1
35.70       1
47.87       1
15.20       1
4.25        1
2.18        1
44.63       1
46.99       1
16.27       1
13.01       1
6.26        1
46.66       1
49.79       1
25.62       1
14.57       1
45.75       1
29.21       1
24.99       1
17.17       1
33.43       1
41.33       1
23.97       1
2.28        1
16.96       1
49.02       1
14.21       1
8.13        1
4.73        1
44.53       1
27.01       1
25.24       1
16.99       1
17.91       1
36.02       1
13.03       1
6.11        1
7.30        1
3.85        1
11.83       1
45.38       1
17.14       1
38.84       1
31.58       1
3.33        1
37.45       1
35.28       1
49.06       1
45.81       1
36.92       1
39.68       1
36.04       1
25.79       1
42.57       1
10.76       1
31.05       1
29.17       1
33.24       1
36.29       1
11.05       1
20.29       1
41.66       1
45.44       1
20.17       1
4.18        1
12.81       1
14.15       1
14.49       1
17.05       1
18.72       1
39.27       1
21.58       1
44.16       1
16.38       1
36.40       1
27.24       1
15.17       1
26.84       1
10.28       1
15.62       1
8.53        1
13.43       1
27.15       1
29.99       1
18.17       1
32.53       1
4.48        1
21.90       1
32.24       1
1.99        1
23.47       1
46.64       1
36.38       1
40.00       1
29.29       1
2.93        1
45.37       1
23.39       1
29.41       1
29.64       1
30.22       1
43.12       1
21.71       1
30.75       1
48.23       1
35.05       1
35.23       1
30.53       1
8.88        1
44.00       1
29.32       1
24.92       1
28.70       1
20.16       1
37.04       1
19.67       1
30.45       1
9.99        1
44.31       1
38.65       1
23.50       1
38.48       1
39.92       1
9.48        1
37.37       1
35.34       1
33.80       1
1.09        1
46.67       1
16.97       1
10.23       1
5.55        1
46.75       1
24.07       1
44.42       1
36.13       1
47.02       1
36.60       1
32.65       1
10.20       1
10.17       1
33.13       1
33.73       1
46.78       1
16.73       1
2.97        1
45.82       1
1.01        1
21.60       1
43.38       1
23.79       1
37.44       1
20.19       1
25.92       1
41.67       1
15.43       1
34.67       1
26.83       1
16.89       1
28.63       1
24.44       1
14.76       1
29.95       1
39.45       1
21.35       1
2.81        1
49.51       1
9.39        1
43.76       1
11.45       1
11.37       1
33.76       1
41.85       1
49.24       1
3.34        1
39.18       1
17.88       1
8.50        1
34.69       1
18.78       1
28.35       1
17.03       1
12.80       1
25.49       1
31.90       1
17.50       1
23.33       1
48.26       1
Name: count, dtype: int64

----------------------------------------

Value counts for column 'churn_label':
churn_label
No     5174
Yes    1817
Name: count, dtype: int64

----------------------------------------

Value counts for column 'area_id':
area_id
325     43
324     38
370     36
365     34
373     32
        ..
401      2
1241     2
300      2
1626     2
828      1
Name: count, Length: 1626, dtype: int64

----------------------------------------

Value counts for column 'zip_code':
zip_code
92028    43
92027    38
92122    36
92117    34
92126    32
         ..
92250     2
95431     2
91934     2
96150     2
93711     1
Name: count, Length: 1626, dtype: int64

----------------------------------------

Value counts for column 'city':
city
Los Angeles         293
San Diego           285
San Jose            112
Sacramento          108
San Francisco       104
                   ...
Holtville             2
Johannesburg          2
Eldridge              2
Jacumba               2
South Lake Tahoe      2
Name: count, Length: 1106, dtype: int64

----------------------------------------

Value counts for column 'latitude':
latitude
33.362575    43
33.141265    38
32.857230    36
32.825086    34
32.886925    32
             ..
32.811001     2
38.348884     2
32.649787     2
38.911577     2
36.833002     1
Name: count, Length: 1626, dtype: int64

----------------------------------------

Value counts for column 'longitude':
longitude
-117.299644    43
-116.967221    38
-117.209774    36
-117.199424    34
-117.152162    32
               ..
-115.152865     2
-122.516990     2
-116.223700     2
-120.106169     2
-119.829470     1
Name: count, Length: 1625, dtype: int64

----------------------------------------

Value counts for column 'population':
population
42239    43
48690    38
34902    36
51213    34
74232    32
         ..
207       2
73006     2
8062      2
363       2
36274     1
Name: count, Length: 1569, dtype: int64

----------------------------------------

Value counts for column 'gender':
gender
Male      3555
Female    3488
Name: count, dtype: int64

----------------------------------------

Value counts for column 'age':
age
42    156
47    153
40    150
44    148
23    146
56    144
62    143
35    142
21    140
33    139
25    138
61    138
48    135
53    134
39    134
27    132
38    131
22    130
49    130
37    129
30    128
51    128
45    128
19    127
20    127
54    126
55    124
57    124
59    122
32    122
63    120
60    120
50    120
28    119
64    119
46    119
31    119
34    118
29    118
58    117
26    115
52    113
43    113
41    110
24    109
36    104
73     85
68     82
69     79
65     79
74     76
79     76
75     74
77     72
70     71
76     69
71     68
80     66
78     63
66     63
67     61
72     58
Name: count, dtype: int64

----------------------------------------

Value counts for column 'senior_citizen':
senior_citizen
No     5901
Yes    1142
Name: count, dtype: int64

----------------------------------------

Value counts for column 'married':
married
No     3641
Yes    3402
Name: count, dtype: int64

----------------------------------------

Value counts for column 'num_dependents':
num_dependents
0    5416
1     553
2     531
3     517
5      10
4       9
6       3
7       2
9       1
8       1
Name: count, dtype: int64

----------------------------------------

In [5]:
print("\nMissing values:", cust_churn_df.isnull().sum())

Missing values: account_id                          0
customer_id                         0
tenure_months                       0
num_referrals                       0
has_internet_service                0
internet_type                    1526
has_unlimited_data                  0
has_phone_service                   0
has_multiple_lines                  0
has_premium_tech_support            0
has_online_security                 0
has_online_backup                   0
has_device_protection               0
contract_type                       0
paperless_billing                   0
payment_method                      0
account_id.1                        0
avg_long_distance_fee_monthly       0
total_long_distance_fee             0
avg_gb_download_monthly             0
stream_tv                           0
stream_movie                        0
stream_music                        0
total_monthly_fee                   0
total_charges_quarter               0
total_refunds                       0
customer_id.1                       0
status                              0
churn_label                        52
churn_category                   5174
churn_reason                     5174
area_id                             0
zip_code                            0
city                                0
latitude                            0
longitude                           0
population                          0
customer_id.2                       0
gender                              0
age                                 0
senior_citizen                      0
married                             0
num_dependents                      0
zip_code.1                          0
dtype: int64

In [6]:
def clean_data_r1(df):
    """
    Cleans the dataset by:
    - Splitting 'account_id' and 'customer_id' into parts and dropping the original columns
    - Converting 'cust_id_p1' to integer
    - Converting 'zip_code' and 'area_id' columns to string
    - Filling missing values with a placeholder value
    - Dropping rows with missing 'churn_label'
    - Automatically converting 'Yes'/'No' columns to binary (1/0)
    
    Parameters:
    - df: DataFrame containing the raw data
    
    Returns:
    - df: Cleaned DataFrame
    """
    # Split account_id into two parts
    df[['acc_id_p1', 'acc_id_p2']] = df['account_id'].str.split('-', expand=True)
    df.drop(['account_id'], axis=1, inplace=True)

    # Split customer_id into two parts
    df[['cust_id_p1', 'cust_id_p2']] = df['customer_id'].str.split('-', expand=True)
    df.drop(['customer_id'], axis=1, inplace=True)

    # Convert 'cust_id_p1' to integer to determine if there is a correlation between time of subscription with telecomm and churn label - predict loyalty level
    df['cust_id_p1'] = df['cust_id_p1'].astype(int)

    # Convert both 'zip_code' and 'area_id' columns to string (more meaningful)
    df[['zip_code', 'area_id']] = df[['zip_code', 'area_id']].astype(str)

    # Fill missing values with a placeholder value
    df['internet_type'].fillna('Unknown', inplace=True)

    # Drop missing churn_label rows - in total from test and train sets there are 52 out of 7042 rows ~0.738% of all values
    df.dropna(subset=['churn_label'], inplace=True)

    # Automatically convert 'Yes'/'No' columns to 1/0
    for column in df.select_dtypes(include=['object']).columns:
        if df[column].isin(['Yes', 'No']).all():
            df[column] = df[column].map({'Yes': 1, 'No': 0})

    # Return the cleaned dataframe
    return df

# Apply the function to both train and test sets
clean_cust_churn_df = clean_data_r1(eda_cust_churn_df)

In [7]:
clean_cust_churn_df.head()

,tenure_months,num_referrals,has_internet_service,internet_type,has_unlimited_data,has_phone_service,has_multiple_lines,has_premium_tech_support,has_online_security,has_online_backup,has_device_protection,contract_type,paperless_billing,payment_method,avg_long_distance_fee_monthly,total_long_distance_fee,avg_gb_download_monthly,stream_tv,stream_movie,stream_music,total_monthly_fee,total_charges_quarter,total_refunds,churn_label,area_id,zip_code,city,latitude,longitude,population,gender,age,senior_citizen,married,num_dependents,acc_id_p1,acc_id_p2,cust_id_p1,cust_id_p2
0,3,3,1,Fiber Optic,1,1,0,1,0,0,0,Month-to-Month,1,Credit Card,7.38,22.14,11,1,0,0,83.90,267.40,0.0,1,607,93010,Camarillo,34.227846,-119.079903,42853,Female,75,1,1,0,BFIN,DLMOA,13,EXCHZ
1,63,8,1,Fiber Optic,0,1,1,1,1,0,0,Two Year,1,Credit Card,12.96,816.48,7,0,0,0,84.65,5377.80,0.0,0,963,94558,Napa,38.489789,-122.270110,63947,Male,52,0,1,0,AFEO,XOOCP,14,BMAQU
2,65,3,1,Cable,1,1,1,1,1,1,1,Two Year,1,Credit Card,28.46,1849.90,14,1,1,1,90.45,5957.90,0.0,0,1390,95681,Sheridan,38.984756,-121.345074,1219,Female,43,0,1,1,DEMQ,MFXWC,16,QLJIS
3,72,0,1,Fiber Optic,1,1,1,0,1,1,1,Two Year,1,Bank Withdrawal,2.25,162.00,16,1,0,0,101.30,7261.25,0.0,0,303,91942,La Mesa,32.782501,-117.016110,24005,Female,32,0,0,0,AIPP,VTDXJ,19,EFAEP
4,56,0,1,DSL,1,0,0,1,1,1,1,Two Year,0,Bank Withdrawal,0.00,0.00,19,0,0,0,45.05,2560.10,0.0,0,716,93441,Los Olivos,34.704340,-120.026090,1317,Female,39,0,0,0,CJHA,SRKIB,19,GFNTW

In [8]:
from sklearn.model_selection import train_test_split

# Function to split train_df and test_df into X and y
def split_features_target(df, target_column='churn_label', test_size=0.3, random_state=0):
    """
    Splits the dataframe into features (X) and target (y) for both train and test datasets.
    
    Parameters:
    - df: DataFrame containing the full data (features + target)
    - target_column: Name of the target column (default is 'churn_label')
    - test_size: Fraction of the data to be used for testing (default is 0.3)
    - random_state: Random seed for reproducibility (default is 0)
    
    Returns
    - X_train: Features for the training set
    - X_test: Features for the test set
    - y_train: Target for the training set
    - y_test: Target for the test set
    """
    # Separate the target (y) and features (X)
    X = df.drop(target_column, axis=1)
    y = df[target_column]
    
    # Split the data into train and test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)
    
    return X_train, X_test, y_train, y_test

# Splitting the train_df and test_df and capturing the results
X_train, X_test, y_train, y_test = split_features_target(clean_cust_churn_df)

# Checking the output
print(f'X_train shape: {X_train.shape}')
print(f'y_train shape: {y_train.shape}')
print(f'X_test shape: {X_test.shape}')
print(f'y_test shape: {y_test.shape}')

X_train shape: (4893, 38)
y_train shape: (4893,)
X_test shape: (2098, 38)
y_test shape: (2098,)

In [9]:
print(list(clean_cust_churn_df.select_dtypes(include=['object', 'category']).columns))

['internet_type', 'contract_type', 'payment_method', 'area_id', 'zip_code', 'city', 'gender', 'acc_id_p1', 'acc_id_p2', 'cust_id_p2']

In [10]:
# Base model catboost model without feature engineering
from catboost import CatBoostClassifier
from sklearn.metrics import classification_report, roc_auc_score
from sklearn import metrics

cat_ft_0 = list((clean_cust_churn_df.select_dtypes(include=['object', 'category']).columns))
# ['internet_type', 'contract_type', 'payment_method', 'churn_category', 'churn_reason', 'area_id', 'zip_code', 'city', 'gender', 'acc_id_p1', 'acc_id_p2', 'cust_id_p2']

# Instantiate the CatBoostClassifier and specify categorical features
cb0_model = CatBoostClassifier(
    iterations=100,          # Number of boosting iterations
    learning_rate=0.1,        # Step size shrinkage
    depth=4,                  # Depth of the tree
    l2_leaf_reg=5,
    random_seed=5,            # Ensures reproducibility
    verbose=100,              # Prints progress every 100 iterations
    cat_features=cat_ft_0  # Specify which features are categorical
)

# Fit the model with the training data
cb0_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = cb0_model.predict(X_test)

# Calculate the accuracy score
cb0_accuracy = metrics.accuracy_score(y_test, y_pred)
print('\nAccuracy_score for baseline catboost_model with no feature engineering: ', cb0_accuracy)

print(classification_report(y_test, y_pred))
auc_score = roc_auc_score(y_test, cb0_model.predict_proba(X_test)[:, 1])
print(f'ROC AUC: {auc_score}')

0:	learn: 0.6126575	total: 60.7ms	remaining: 6s
99:	learn: 0.2831013	total: 349ms	remaining: 0us

Accuracy_score for baseline catboost_model with no feature engineering:  0.8460438512869399
              precision    recall  f1-score   support

           0       0.88      0.92      0.90      1536
           1       0.75      0.65      0.69       562

    accuracy                           0.85      2098
   macro avg       0.81      0.78      0.79      2098
weighted avg       0.84      0.85      0.84      2098

ROC AUC: 0.9071558978351127